___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# Entrada y salida de informacion

Pandas puede leer una gran variedad de archivos con el metodo pd.read_metodo. Revisemos los mas comunes

In [4]:
# librerias
import numpy as np
import pandas as pd

## CSV

### Ingresar csv

In [5]:
df = pd.read_csv('../../data/example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Salida csv

In [6]:
df.to_csv('../../data/example',index=False)

## Excel
Pandas  puede leer y escribir archivos de excel, solo ten en cuenta que no debe de incluir imagenes, macros, formulas.

### Ingresar excel

In [7]:
pd.read_excel('../../data/Excel_Sample.xlsx',sheetname='Sheet1')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Salida Excel

In [8]:
df.to_excel('../../data/Excel_Sample.xlsx',sheet_name='Sheet1')

## Clipboard

### entrada desde clipboard

la funcion pd.read_clipboard(), permite convertir el texto copiado al portapapeles en un objeto DataFrame

In [7]:
# link 'http://www.fdic.gov/bank/individual/failed/banklist.html'
df = pd.read_clipboard()

In [9]:
df.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802.0,"United Fidelity Bank, fsb","May 26, 2017","July 26, 2017"
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003.0,First-Citizens Bank & Trust Company,"May 5, 2017","July 26, 2017"
2,First NBC Bank,New Orleans,LA,58302.0,Whitney Bank,"April 28, 2017","July 26, 2017"
3,Proficio Bank,Cottonwood Heights,UT,35495.0,Cache Valley Bank,"March 3, 2017","May 18, 2017"
4,Seaway Bank and Trust Company,Chicago,IL,19328.0,State Bank of Texas,"January 27, 2017","May 18, 2017"